/** {
	outline: red 1px solid;
}*/

/* Page setup */
body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	margin: 0px;
}

/* Instruction for user */
.instructions {
	color: white;
	padding-left: 20px;
}

.instructions h2 {
	margin-bottom: 0px;
}

.instructions ul {
	margin-top: 0px;
}

/*	Setup Ryu images
	container div */
.ryu {
	float: left;
}

/*	Set image position */
.ryu, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

/* Set Ryu images */
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
	display: block;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	display: none;
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	display: none;
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
	display: none;
}

/* Set hadouken image */
.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 170px;
	left: 520px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

